<input type="checkbox">
    <h2><%= @todo.description %></h2>
    <h2><%= @todo.pomodoro_estimate %></h2>
   <h3>Todo #<%= params[:id] %></h3>
    <a href="#">How to make a todo list</a>
    <a href="#"></a>
<a href="index.html">Go back...</a>
